<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dfbp.val.manage.dao.ValCalculationItemMapper">

    <resultMap id="BaseResultMap" type="com.win.dfbp.val.manage.entity.ValCalculationItem">
        <result column="cal_item" property="calItem" />
        <result column="cal_formula" property="calFormula" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cal_item, cal_formula
    </sql>

    <select id="getValCalculationItems" resultType="com.win.dfbp.val.manage.vo.respone.ValCalculationItemRepVO"  parameterType="com.win.dfbp.val.manage.vo.query.ValCalculationItemQueryVO">
		SELECT
			c.cal_item AS calItem,
			i.item_name AS itemName,
			c.cal_formula AS calFormula
		FROM
			val_cal_item c
		INNER JOIN val_item i ON c.cal_item = i.item_code AND i.item_level = 1
		<where>
			<if test="calItem != null">
				and c.itemName LIKE CONCAT('%',#{calItem},'%')
			</if>
		</where>
    </select>
    
    <update id="updataCalculationItem" parameterType="com.win.dfbp.val.manage.vo.query.ValCalculationItemQueryVO"> 
    	updata val_cal_item
    	<set>
    		<if test="calItem != null">
    			cal_formula = #{calFormla}
    		</if>
    	</set>
    	WHERE id = #{id}
    </update>
</mapper>
