<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dfbp.val.manage.dao.ValItemMapper">

    <resultMap id="BaseResultMap" type="com.win.dfbp.val.manage.entity.ValItem">
        <result column="item_code" property="itemCode" />
        <result column="item_name" property="itemName" />
        <result column="item_level" property="itemLevel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        item_code, item_name, item_level
    </sql>

    <select id="getValItems" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"></include>
		from val_item where item_level = 1
    </select>
</mapper>
