<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dfbp.val.manage.dao.ValMethodConfigureMapper">

    <resultMap id="BaseResultMap" type="com.win.dfbp.val.manage.entity.ValMethodConfigure">
        <result column="method_code" property="methodCode" />
        <result column="class_code" property="classCode" />
        <result column="fund_configure_id" property="fundConfigureId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        method_code, class_code, fund_configure_id
    </sql>

    <select id="getMethodByFundId" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"></include>
		from val_method_configure where fund_configure_id=#{fundConfigureId}
    </select>
</mapper>
