<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dfbp.val.manage.dao.ValMethodConfigureMapper">

    <resultMap id="BaseResultMap" type="com.win.dfbp.val.manage.entity.ValMethodConfigure">
        <result column="method_code" property="methodCode" />
        <result column="class_code" property="classCode" />
        <result column="fund_configure_id" property="fundConfigureId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        method_code, class_code, fund_configure_id
    </sql>

    <select id="getMethodByFundId" resultType="com.win.dfbp.val.manage.vo.respone.ValClassMethodRepVO">
		SELECT max(CASE mc.class_code WHEN "VC001" THEN mc.method_code ELSE '' END) fairPrice ,
			max(CASE mc.class_code WHEN "VC002" THEN mc.method_code ELSE '' END) positionCost,
			max(CASE mc.class_code WHEN "VC003" THEN mc.method_code ELSE null END)  positionMarket,
			max(CASE mc.class_code WHEN "VC004" THEN mc.method_code ELSE '' END) costPrice,
			max(CASE mc.class_code WHEN "VC005" THEN mc.method_code ELSE '' END)  floatingProfitLoss,
			max(CASE mc.class_code WHEN "VC001" THEN m.method_name ELSE '' END) fairPriceName ,
			max(CASE mc.class_code WHEN "VC002" THEN m.method_name ELSE '' END) positionCostName,
			max(CASE mc.class_code WHEN "VC003" THEN m.method_name ELSE null END)  positionMarketName,
			max(CASE mc.class_code WHEN "VC004" THEN m.method_name ELSE '' END) costPriceName,
			max(CASE mc.class_code WHEN "VC005" THEN m.method_name ELSE '' END)  floatingProfitLossName
 		FROM val_method_configure mc LEFT JOIN val_method m ON mc.method_code= m.method_code
 		WHERE mc.fund_configure_id=#{fundConfigureId} LIMIT 1
    </select>
    
    <update id="updateMethodConfigure" parameterType="com.win.dfbp.val.manage.entity.ValMethodConfigure">
    	UPDATE val_method_configure 
    	<set>
    		<if test="classCode != null">
    			class_code = #{classCode},
    		</if>
    		<if test="methodCode != null">
    			method_code = #{methodCode}
    		</if>
    	</set>
    	WHERE fund_configure_id=#{fundConfigureId} AND class_code = #{classCode}
    </update>
</mapper>
