<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.win.dfbp.val.manage.dao.ValParamMethodConfigureMapper">

    <resultMap id="BaseResultMap" type="com.win.dfbp.val.manage.entity.ValParamMethodConfigure">
        <result column="param_code" property="paramCode" />
        <result column="method_code" property="methodCode" />
        <result column="param_name" property="paramName" />
        <result column="method_name" property="methodName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        param_code,param_name, method_code,method_name
    </sql>
    
    <select id="getAllParamMethod" resultType="com.win.dfbp.val.manage.entity.ValParamMethodConfigure">
		select param_code AS paramCode,param_name AS paramName, 
			method_code AS methodcode,method_name AS methodName
		from val_cal_param_configure
    </select>
        
</mapper>
